.about {
  display: grid;
  column-gap: 20px;
  margin-top: calc(48px - 96px);

  @include page-grid;

  @include on-table {
    margin-top: calc(56px - 120px);
  }

  &__title {
    margin-bottom: 24px;
    grid-column: 1/-1;

    @include on-table {
      margin-bottom: 0;
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 1/-1;

    @include on-table {
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: 7/12;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    font-family: $font-mono;
  }
}
