.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-table {
      row-gap: 56px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: $main-text-color;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      background-color: transparent;
      color: $main-text-color;
      border-color: $main-text-color;
    }

    &:active {
      background-color: #111;
      color: #fff;
      border-color: #111;
    }
  }
}

.button-primary {
  margin-top: 40px;

  @include on-table {
    width: 100%;
    margin-top: 56px;
  }

  @include on-desktop {
    width: 324px;
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    overflow: hidden;

    &--wide {
      @include on-table {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-table {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }
}
