.footer {
  @include page-grid;

  grid-column: 1 / -1;
  margin-top: 48px;

  @include on-table {
    margin-top: 80px;
  }

  @include on-desktop {
    margin-top: 88px;
    grid-column: 7 / 13;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-desktop {
      grid-column: auto;
      display: grid;
      gap: 24px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    font-style: normal;
  }

  &__label {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    color: $color-muted;
    font-weight: 400;
  }

  &__link,
  &__text {
    margin: 0;
    font-family: $font-mono;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
