.main {
  background-color: #fff;

  &__content {
    display: grid;
    padding-top: 64px;
    row-gap: 96px;

    @include on-table {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}

// банер
.banner {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;

  height: 200px;

  @include on-table {
    height: 400px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    height: 460px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}
